The word to guess is <br>
<%= display_word.join(" ") %> <br>
<p><%= message %>

<% if wrong_guesses_count = 1 %>
		<p> You have <%=wrong_guesses_count%> wrong guess!  You only get 10 guesses!
<% esle %>
		<p> You have <%=wrong_guesses_count%> wrong guesses!  You only get 10 guesses!
<% end %>		




<p> Player 2, please choose a letter.
<form method="post" action="choices">
<input type="text" name="choices">
<input type="submit" value="submit">
</form>

